.navContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: black;
}

nav, body, main {
    /* background-color: #93d9da; */
    background-color: #74b0d8;
    color: black;
    /* font-size: 150%; */
}

nav {
    box-shadow: none;
    width: 100vw;
    height: 10vh;
}

.navButton {
    background-color: #74b0d8;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: none;
    width: 100vw;
    height: 100%;
    color: black;
    padding: 0px;

}

.navButton:focus, .navButton:hover, .activePage {
    background-color: #93d9da;
}

.navDiv {
    border-right: black;
    border-style: solid;
    border-width: 1px;
    border-left: none;
    border-top: none;
    border-bottom: none;
    width: 100%;
    height: 90%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

.flex {
    display: flex;
}

#content {
    width: 300vw;
    margin-left: 0vw;
    transition: margin-left 0.2s;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}
#content section {
    overflow-y: scroll;
    width: 100vw;
}
#content.position-0 {
    margin-left: 0vw;
}
#content.position-1 {
    margin-left: -100vw;
}
#content.position-2 {
    margin-left: -200vw;
}

#homeContainer {
    margin: 10px;
}
html {
    position: fixed;
}

html>body>main>#content>#home>#homeContainer>#out>li>.singlePerson {
    height: 10vh;
    border-top: none !important; /* Todo: fiximportant  */
    border-left: none !important;
    border-right: none !important;
    border-color: black;
    border-style: solid;
    border-width: 1px;
}

#out>li>.singlePerson div {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: black !important;
}

i {
    width: 100%;
    height: 100%;
}

.collapsible-header {
    background-color: #74b0d8;
}

#out {
    border: none;
}

.input-field input {
    color: #000000 !important;
}

.input-field label {
    color: #000000 !important;
}

#addContainder {
    margin: 20px;
}
/* #personWrapper {
    overflow: scroll;
    height: 100vh;
} */











/* .navContainer {
    width: 100vw;
    margin-left: 0vw;
    transition: margin-left 1s;
    overflow: hidden;
}
.navContainer section {
    overflow-y: scroll;
    width: 33.333vw;
    background-color: black;
}
.navContainer.position-0 {
    margin-left: 0vw;
}
.navContainer.position-1 {
    margin-left: 33.333vw;
}
.navContainer.position-2 {
    margin-left: 66.666vw;
} */
